.transparent-stage-content {
	-fx-padding: 10;
	-fx-background-insets: 10;
}

.transparent-stage-shadow {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
	-fx-background-insets: 10;
}

.transparent-stage-content-root {
	-fx-background-color: rgba(255, 255, 255, 0.0);
	-fx-background-insets: 10;
}

.map-view {
	-fx-background-color: #262626;
}

.map-view .text-field {
	-fx-background-color: rgba(26, 26, 26, 0.8);
}

/* basic menu background color */
.menu-bar, .menu, .menu-item, .context-menu {
	-fx-background-color: #3c3f41;
}

/* menu paddings */
.menu-bar {
	-fx-padding: 0;
}

.menu {
	-fx-padding: 2 5 2 5;
}

.menu .context-menu {
	-fx-padding: 1;
}

/* menu text color and check-menu icon */
.menu .label, .menu-item >.label, .check-menu-item {
	-fx-text-fill: #f2f2f2;
	-fx-focused-mark-color: #f2f2f2;
	-fx-mark-color: #f2f2f2;
}

/* menu hovering */
.menu:hover, .menu-item:hover, .check-menu-item:hover {
	-fx-background-color: #494d50;
}

/*---------- CHECKBOX ----------*/

.check-box {
	-fx-padding: 4 0 -3 0;
	-fx-text-fill: #f2f2f2;
}

.check-box .box {
	-fx-background-color: #43494a;
	-fx-border-color: #6a6a6a;
	-fx-border-radius: 2;
	-fx-border-width: 2;
	-fx-border-insets: 3;
	-fx-background-insets: 3;
}

.check-box .box .mark {
	-fx-padding: 5;
	-fx-mark-color: #bbbbbb;
}

.combo-box {
	-fx-pref-width: 110;
}

.grid {
	-fx-background-color: #3c3f41;
	-fx-hgap: 50;
	-fx-padding: 0 0 5 5;
}

.grid .label {
	-fx-text-fill: #f2f2f2;
	-fx-pref-width: 120;
	-fx-pref-height: 30;
}

.grid .text-field {
	-fx-pref-width: 110;
	-fx-alignment: center-left;
	-fx-background-color: #45494a;
	-fx-background-radius: 0;
	-fx-border-width: 1;
	-fx-border-color: #646464;
	-fx-pref-height: 22;
	-fx-max-height: 22;
	-fx-min-width: 30;
	-fx-padding: 0;
	-fx-font-weight: bold;
	-fx-text-fill: #f2f2f2;
	-fx-alignment: center-right;
}

.grid .text-field:focused {
	-fx-effect: dropshadow(gaussian, #00bfff, 4, 0, 0, 0);
}

.grid .combo-box {
	-fx-background-color: #3c3f41;
	-fx-background-radius: 0;
	-fx-border-width: 1;
	-fx-border-color: #646464;
	-fx-pref-width: 110;
	-fx-min-width: 70;
	-fx-padding: 0;
}

.grid .combo-box:hover {
	-fx-background-color: #494d50;
	-fx-border-color: #666666;
}

.grid .combo-box:focused {
	-fx-effect: dropshadow(gaussian, #00bfff, 4, 0, 0, 0);
}

.grid .combo-box-base .arrow-button {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: #646464;
	-fx-padding: 0 5 0 5;
}

.grid .combo-box-base .arrow-button .arrow {
	-fx-background-color: #bbbbbb;
}

.grid .combo-box .list-cell {
	-fx-text-fill: #f2f2f2;
	-fx-padding: 2 5 2 5;
}

.grid .combo-box-popup .list-view {
	-fx-padding: 0;
	-fx-border-width: 0 1 1 1;
	-fx-border-color: #020202;
}

.grid .combo-box-popup .list-cell:hover {
	-fx-background-color: #494d50;
}

.grid .combo-box-popup .list-cell {
	-fx-background-color: #3c3f41;
}

/*---------- LIST VIEW ----------*/

.list-view {
	-fx-background-color: #3c3f41;
	-fx-pref-width: 150;
	-fx-max-width: 150;
	-fx-min-width: 100;
}

.list-view .indexed-cell:even {
	-fx-background-color: #3c3f41;
}

.list-view .indexed-cell:odd {
	-fx-background-color: #46494b;
}

.list-view .cell {
	-fx-text-fill: #f2f2f2;
}

.list-view .list-cell:selected {
	-fx-background-color: #00bfff;
}

/*---------- SPLIT PANE ----------*/

.split-pane {
	-fx-background-color: #262626;
}

.split-pane-divider {
	-fx-background-color: #5e6060;
	-fx-pref-width: 4;
}

/*---------- BUTTON ----------*/

.button {
	-fx-background-color: #4c5052;
	-fx-border-color: #5e6060;
	-fx-text-fill: #acbbbb;
	-fx-border-width: 1;
	-fx-border-radius: 1;
	-fx-background-radius: 1;
	-fx-pref-height: 22px;
	-fx-max-height: 22px;
	-fx-padding: 0;
}

.button:hover {
	-fx-background-color: #565a5d;
	-fx-border-color: #656767;
	-fx-text-fill: #b9c6c6;
}

.button:focused {
	-fx-effect: dropshadow(gaussian, #00bfff, 4, 0, 0, 0);
}

.button-base:disabled {
	-fx-background-color: #3c3f41;
	-fx-text-fill: #acbbbb;
}

/*---------- DIALOG ----------*/

.dialog-pane {
	-fx-background-color: #3c3f41
}

.dialog-pane:header .header-panel {
	-fx-background-color: #494d50;
}

.dialog-pane .label {
	-fx-text-fill: #f2f2f2;
}

.dialog-pane:header .header-panel .label {
	-fx-background-color: #494d50;
	-fx-text-fill: #f2f2f2;
}

.dialog-pane > .button-bar > .container {
	-fx-background-color: #3c3f41;
}

.dialog-pane > .content.label {
	-fx-background-color: #3c3f41;
	-fx-text-fill: #f2f2f2;
}

.dialog-pane .separator {
	-fx-padding: 10 0 10 0;
}

.dialog-pane .separator *.line {
	-fx-background-color: #515151;
}

/*---------- ABOUT DIALOG ----------*/

.about-dialog-pane {
	-fx-min-width: 350px;
}

.about-dialog-pane .about-dialog-grid-pane .label {
	-fx-label-padding: 8 15 8 0;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink {
	-fx-padding: 8 15 8 -8;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink-update {
	-fx-padding: 8 15 8 0;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink:visited  {
	-fx-text-fill: #f2f2f2;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink .label {
	-fx-padding: 0;
}

.about-dialog-pane .about-dialog-grid-pane .label-hint {
	-fx-padding: 0 0 0 15;
}